// showing default values
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.custom-code-highlight .content code {
  color: #c7254e;
  background-color: #f9f2f4;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto 3px;
}

.custom-code-highlight .content blockquote{
  padding: 2px 30px;
  color: #555;
  border-left: 6px solid #c7e6cc;
  background: #f1f5f3;
  font-size: 1rem;
}
