// showing default values
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.custom-code-highlight .content code {
  color: #c7254e;
  background-color: #f9f2f4;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto 3px;
}
